@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
}

#app main {
  max-width: 1028px;
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
  transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
  a:hover {
    color: hsla(160, 100%, 37%, 0.531);
  }
}
