@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
}

#app main {
  max-width: 1120px;
  width: 100%;
  margin-top: 1.5rem;
  min-height: 87vh;
}

#app main h1 {
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--soft-green);
}

footer {
  width: 100%;
  margin-top: auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
  transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--soft-green);
    transition: background-color 0.3s ease-in-out;
  }
}
@media screen and (max-width: 1000px) {
  #app {
    margin: 0 auto;
    padding: 0 1rem;
  }
}
